body {
  margin: 0;
  background-color: #D3D6E1;
  font-family: jost-regular, sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #D2B28F;
  position: relative;
  z-index: 100;
  font-family: jost-medium, sans-serif;
}


.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  margin: 10px;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline;
  text-decoration: none;
  margin: 0 1rem;
  color: #522A05;
}
.nav > .nav-links > a:hover {
  color: #152f57;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 50px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 16px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 3px solid #522A05;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#respresso-logo {
  width: 30%;
  margin: 0 auto;
}
#respresso-logo img {
  min-height: 50px;
  object-fit: cover;
  max-height: 50px;
  width: 200px;
  background-color: #00000000;
  transition: all 0.5s;
}


.popup {
  display: none; 
  background-color: #D2B28F;
  position: relative;
  top: -10px;
}
.popup ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
  font-size: 17pt;
  padding: 25px;
  line-height: 50px;
}
.popup ul li a{
  text-decoration: none;
  margin: 30px 0;
  color: #522A05;
}
.popup ul span {
  width: 250px;
  height: 2px;
  display: flex;
  margin: 0 auto;
  background: linear-gradient(to right, #522A0500, #522A05, #522A0500);
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@font-face {
  font-family: jost-regular;
  src: url('./resources/fonts/Jost-Regular.ttf');
}

@font-face {
  font-family: jost-medium;
  src: url('./resources/fonts/Jost-Medium.ttf');
}


/* TRANSITIONS */
.transition-in {
  opacity: 0;
  transition: all 1s;
}
.visible {
  opacity: 1;
}